* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

#app {
    margin: 0;
    padding: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #2c2d34;
}


#app__main-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50.1%, -50.4%);
    background: #e3e3e3;
    margin: 5px 0px;
    padding: 10px 15px;
    border-radius: 5px;
}

#app__controls {
    text-align: center;
}

#app #app__output {
    margin: 10px 0px;
}

#app #controls__dev-mode-checkbox {
    font-size: 14px;
}

#app #controls__dev-mode-checkbox input {
    position: relative;
    cursor: pointer;
    top: 2px;
}

.controls-item {
    position: relative;
    width: 100%;
    float: left;
}

#dev {
    background: #ffffff12;
    max-width: 230px;
    width: fit-content;
    min-height: 17px;
    word-break: break-word;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid #ffffff26;
}

#dev.non-active {
    opacity: 0.25;
}

#dev-mode-checkbox input[type="checkbox"] {
    cursor: pointer;
}